<h1>Sobre o Marque Denúncia</h1>
<h4>Página em desenvolvimento...</h4>

</br>
<table>
  <tr>
    <td>
    	<img src="http://edemocracia.camara.gov.br/documents/1927974/0/icone/178f2114-f10a-4a41-9a39-07e847617807?version=1.1&t=1415902084307&imageThumbnail=1">
    </td>
    <td>
    	<p>
		 Este projeto iniciou-se durante o <a href="http://edemocracia.camara.gov.br/web/hackathon-de-genero-e-cidadania/inicio#.VIJ-L-rjPD4">Hackathon Gênero e Cidadania</a>, que foi uma maratona que reuniu hackers, programadores, desenvolvedores e inventores para criar projetos que transformem informações de interesse público em soluções digitais, acessíveis a todos os cidadãos. Os aplicativos desenvolvidos tem como objetivo contribuir para redução a violência contra a mulher e fortalecer as políticas de gênero. A maratona ocorreu entre os dias 24 e 28 de novembro no Salão Branco da Câmara dos Deputados, com o  incentivo e ajuda do <a href="http://edemocracia.camara.gov.br/web/laboratorio-hacker/wiki/-/wiki/Main/In%C3%ADcio#.VIJ-X-rjPD5">Laboratório Hacker da Câmara dos Deputados</a>.
		<p>
    </td>
  </tr>
</table>


<h3>Como funciona?</h3>
<p>
	Em poucos instantes o usuário se registra na aplicação preenchendo um formulário simples, em seguida pode começar a contribuir, registrando denúncias de violências contra mulher, demonstrando apoio e/ou observando o andamento das denúncias de terceiros, além de poder observar também instituições públicas. 
	Com isso estaremos criando não só uma rede de denúncias, mas também uma rede social, onde os usuários possam interagir, dividir experiência e mostrar solidaridade com a vitima.
</p>
<h5><b>Nota:</b> Entendemos que esta causa é de todos nós, logo não importa qual gênero do úsuario, ele pode contribuir também.</h5>

<h3>Qual objetivo?</h3>
<p>
O projeto tem como objetivo oferecer uma ferramenta segura, simples e funcional para que mulheres (cis e transexuais) que sofreram algum tipo de violência, nos serviços públicos, possam registrar sua experiência. Isso permitirá que esses serviços possam resolver a questão internamente, com base no feedback, além de servir como alerta para outras mulheres que possam vir a precisar daquele serviço. Para isso, o Marque Denúncia irá servir como uma plataforma de denúncias e acompanhamentos para mulheres que foram de alguma forma agredidas ao utilizar um serviço público. Essa plataforma também tem como objetivo, facilitar o acesso ao dados das ocorrências, além de torna-lo mais acessíveis ao público e encorajar novas denúncias.
</p>

<h3>Motivação</h3>
<p>
Mulheres, ao utilizar serviços públicos ofertados a toda a população, muitas vezes são alvos de agressão verbal e psicológica por preconceito, machismo ou trans fobia. Nesses espaços, vemos desde falta de empatia até abuso de poder e assédio, quando por exemplo enfermeiros e médicos com comportamento abusivo transformam um momento de vulnerabilidade, como consultas médicas, ou momentos especiais, como um parto, em situações traumáticas. Podemos ver um exemplo neste <a href='https://www.youtube.com/embed/ojwhK148vdY'>vídeo</a>.
</p>

<h3>O que ganhamos com isso?</h3>
<p>
Como resultado da utilização do aplicativo, teremos um mapa com dados da violência verbal e emocional que fazem parte do dia a dia de mulheres (cis e transexuais) no Brasil. Esse mapa pode colaborar com informações referentes à violência contra a mulher, dimensionando de uma maneira mais clara a situação do problema no quadro atual e com isso conscientizar a população da extensão dessa violência. Além disso, o mapa poderá divulgar situações de abuso como alerta para outras mulheres e superiores responsáveis pelo serviço.
</p>

<h5><b>Nota:</b>  Por "mulheres", entenda qualquer pessoa que se identifique enquanto tal na sociedade.</h5>

<h3>Colabore conosco:</h3>
<p>
Contato e sugestões: marquedenuncia@gmail.com</br>
Página do <a href='https://github.com/larissa/marque-denuncia'>repositório</a>.
</p>